h2, h3, h4, p{
    padding-left:10%;
    padding-right:20px;
}

h2,h3,h4{
    text-decoration: underline;
}

.standard li{
    margin-left:12%;
    padding-left: 10px;
    padding-right: 20px;
}

.position p{
    border: none;
    font-size:18px;
    padding-right:20px;
    
}
