*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px ;
}

body {
    display:block;
    min-height:100vh;
    background-color: lightcyan;
    
    background-size: cover;
    background-repeat: no repeat;
    background-position:center;
    font-family:Arial, Helvetica, sans-serif
}

nav{
    background-color: lightseagreen;
    box-shadow:  3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width:100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height:50px;
}

nav a{
    height:100%; 
    padding: 0 30px;
    text-decoration:none;
    display:flex;
    align-items: center;
    color:black;
}

nav a:hover{
    background-color: lightgrey;
}

nav li:first-child{
    margin-right:auto;
}



h1{
margin-left:0px;
margin-top:0px;
width:100%;
min-height:70px;
line-height:70px;
text-align:center;

}

a {
    color:seagreen;
}

h2,h3,h4 {
    color:lightseagreen;
}





.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rgba(255,250,250,0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(255,250,250,0.1);
    display:none;
    flex-direction:column;
    justify-content:flex-start;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
}

.menu-button{
    display:none;
}

@media (orientation: portrait), (max-width: 900px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display:block;
    }
}

.nav_item{
    padding-top:5px;
}



@media all and (max-width:400px){
    .sidebar{
        width:100%;
    }
}

